<!-- app/views/forecasts/index.html.erb -->
<div class="container">

  <h1 class="text-center" id="main-title">Weather Forecast</h1>

  <div class="form-weather">
    <%= form_with url: root_path, method: :get, local: true do %>
      <div class="form-group">
        <%= label_tag :zip_code, 'Enter ZipCode/City :' %>
        <%= text_field_tag :zip_code, params[:zip_code], class: 'form-control' %>
        <%= submit_tag 'Get Forecast', class: 'btn btn-primary' %>
      </div>
    
    <% end %>
 

  <!-- Error Messages -->
  <% if @error %>
    <div class="alert alert-danger mt-3" role="alert">
      <%= @error %>
    </div>
  <% end %>
 </div>
  <% if @forecast %>
    <div class="weather-info mt-5">
      <h2>Forecast for <%= @forecast.location %></h2>
      <div class="card mb-3">
        <div class ="card-body">
          <h5 class="card-title"><%= format_date(Date.today.to_s) %></h5>
          <p class="card-text"><strong>Current Temperature:</strong> <%= @forecast.current_temp %> °F</p>
          <p class="card-text"><strong>High Temperature:</strong> <%= @forecast.low_temp %> °F</p>
          <p class="card-text"><strong>Low Temperature:</strong> <%= @forecast.low_temp %> °F</p>
          
        </div>
      </div>

     
    
  

   <div class="extended-forecast mt-5">
      <h2>Extended Forecast</h2>
      <% @forecast.extended_forecast.each do |day| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= format_date(day[:date]) %></h5>
            <p class="card-text"><strong>High Temperature:</strong> <%= day[:max_temp] %> °F</p>
            <p class="card-text"><strong>Low Temperature:</strong> <%= day[:min_temp] %> °F</p>
          </div>
        </div>
      <% end %>
    </div>
   
    <% if @forecast.from_cache %>
      <p class="text-muted">(Data pulled from cache)</p>
    <% end %>
   </div>
  <% end %>

</div>
